{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 20.04508672460964,
    "longitude": 99.8945188522339,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Bangkok",
    "external_url": null,
    "internal_url": null,
    "currency": "THB",
    "country": "TH",
    "language": "en",
    "radius": 100
  }
}